<a routerLink='/restaurants/new' routerLinkActive='active' class='btn btn-primary'>New restaurant</a>
<table class='table table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Restaurant</th>
      <th scope='col'>Cuisine</th>
      <th scopr='col'>Avg. Stars</th>
      <th scope='col'>Actions available</th>
    </tr>
  </thead>
  <tbody *ngFor="let restaurant of restaurants">
    <td>{{ restaurant.name }}</td>
    <td>{{ restaurant.cuisine }}</td>
    <td *ngIf='restaurant.average'>{{ restaurant.average }} stars</td>
    <td *ngIf='!restaurant.average'>No reviews!</td>
    <td>
      <a class='btn btn-primary btn-sm' [routerLink]="['/restaurants/reviews', restaurant._id]">Read Reviews</a>
      <button style='margin-left: 15px;' class='btn btn-success btn-sm' (click)="showEdit(restaurant._id)">Update</button>
      <!-- <button style='margin-left: 15px;' class='btn btn-success btn-sm' [routerLink]="['/restaurants/', restaurant._id]">Update</button> -->
      <button style='margin-left: 15px;' class='btn btn-warning btn-sm' (click)="deleteRestaurantFromService(restaurant._id)">Delete</button>
    </td>
  </tbody>
</table>
<div>
  <app-edit *ngIf="parentId" [childId]="parentId" (closeForm)="dataFromChild($event)"></app-edit>
</div>